<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<a class="navbar-brand" href="#">Providers</a>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
<div class="navbar-nav">
 <a class="nav-item nav-link" routerLink="/listProvider" routerLinkActive="active">List Provider</a>
 <a class="nav-item nav-link" routerLink="/addProvider" routerLinkActive="active">Add Provider</a>
 <!--a class="nav-item nav-link" routerLink="/updateProvider" routerLinkActive="active">Update Provider</a-->
</div>
</div>

<a class="navbar-brand" href="#">Articles</a>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
<div class="navbar-nav">
 <a class="nav-item nav-link" routerLink="/listArticle" routerLinkActive="active">List Article</a>
 <a class="nav-item nav-link" routerLink="/addArticle" routerLinkActive="active">Add Article</a>
 <!--a class="nav-item nav-link" routerLink="#" routerLinkActive="active">Update Article</a-->
</div>
</div>
</nav>

<router-outlet></router-outlet>
