<h1 align="center">Ajout d'un nouveau Article</h1>
<form #myForm="ngForm" (ngSubmit)="createArticle(myForm)">
  <div class="form-group">
    <label for="articleLabel">Label</label>
    <input
      ngModel
      name="articleLabel"
      size="20"
      type="text"
      class="form-control"
      id="articleLabel"
    />
  </div>
  <div class="form-group">
    <label for="articlePrice">Price</label>
    <input
      ngModel
      name="articlePrice"
      size="20"
      type="text"
      class="form-control"
      id="articlePrice"
    />
  </div>
  <div class="form-group">
    <label for="articlePicture">Picture</label>
    <input
      ngModel
      name="articlePicture"
      size="20"
      type="text"
      class="form-control"
      id="articlePicture"
    />
  </div>
  <!--div class="form-group">
    <label for="articleProvider">Provider</label>
    <select formControlName="providerId">
      <option [ngValue]="null" disabled>Select Country</option>
      <option *ngFor="let pr of providers">{{pr.name}}</option>
    </select>
  </div-->



  <div class="form-group">
    <label for="articlePhotoFace">Photo Face</label>
    <input
      ngModel
      name="articlePhotoFace"
      size="20"
      type="text"
      class="form-control"
      id="articlePhotoFace"
    />
  </div>

  <div class="form-group">
    <label for="providerId">Provider</label>
  <mat-form-field appearance="fill">
    <mat-label></mat-label>
    <mat-select [(ngModel)]="idProvider" name="providerId" id="providerId">
      <mat-option *ngFor="let provider of providers"
       [value]="provider.id">
        {{provider.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  </div>
  <button class="btn btn-primary">Ajouter</button>
</form>


