<h1 align="center">Mise à jour Provider</h1>
<form (ngSubmit)="updateArticle(idProvider)">
  <div class="form-group">
    <label for="articleLabel">Label</label>
    <input
      [(ngModel)]="label"
      name="articleLabel"
      size="20"
      type="text"
      class="form-control"
      id="articleLabel"
    />
  </div>
  <div class="form-group">
    <label for="articlePrice">Price</label>
    <input
      [(ngModel)]="price"
      name="articlePrice"
      size="20"
      type="text"
      class="form-control"
      id="articlePrice"
    />
  </div>

  <div class="form-group">
    <label for="articlePicture">Picture</label>
    <input
      [(ngModel)]="picture"
      name="articlePicture"
      size="20"
      type="text"
      class="form-control"
      id="articlePicture"
    />
  </div>
  <div class="form-group">
    <label for="articlePhotoFace">Photo Face</label>
    <input
      [(ngModel)]="photoFace"
      name="articlePhotoFace"
      size="20"
      type="text"
      class="form-control"
      id="articlePhotoFace"
    />
  </div>
  <!--div class="form-group">
    <label for="providerId">Provider</label>
    <input
      [(ngModel)]="idProvider"
      name="providerId"
      size="20"
      type="text"
      class="form-control"
      id="providerId"
    />
  </div-->
  <!--div class="form-group">
    <label for="providerName">Name Provider</label>
    <input
      [(ngModel)]="name"
      disabled="true"
      name="providerName"
      size="20"
      type="text"
      class="form-control"
      id="providerName"
    />
  </div-->
  <mat-form-field>
    <mat-label></mat-label>
    <mat-select [(ngModel)]="idProvider" name="providerId" id="" >
      <mat-option *ngFor="let provider of providers"
       [value]="provider.id">
        {{provider.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <input [(ngModel)]="id" name="articleId" type="hidden"/>
  <button class="btn btn-primary">Mise à jour</button>
</form>
